#cortes {
	margin-top: 10px;
	margin-bottom: 40px;
}

#gravedad{
	margin-top: 80px;
	margin-bottom: 10px;
}

@media only screen and (max-width: 700px) {
      #navegacion #nav{
        display: none;
      }
}

@media only screen and (min-width: 700px) {
      #navegacion .toc.item{
        display: none;
      }
}